@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* --- Fonts --- */
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-XBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 600;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-ThinItalic.otf') format('opentype');
    font-weight: 200;
    font-style: 'italic';
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-HairlineItalic.otf')
      format('opentype');
    font-weight: 100;
    font-style: 'italic';
  }

  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Black.otf') format('opentype');
    font-weight: 900;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-XBold.otf') format('opentype');
    font-weight: 800;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Medium.otf') format('opentype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Light.otf') format('opentype');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Thin.otf') format('opentype');
    font-weight: 200;
  }
  @font-face {
    font-family: 'Aktiv Grostek';
    src: url('../public/fonts/AktivGrotesk-Hairline.otf') format('opentype');
    font-weight: 100;
  }

  /* --- Scrollbar --- */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #111111;
  }

  ::-webkit-scrollbar-thumb {
    background: #d9d9d9;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
  }
}
